<!DOCTYPE html>
<html>
<head>
    <title>Socks App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="app">
        <span class="cart">Cart ({{ cart }})</span>
        <div class="product">
            <div class="product-info">
                <h1>{{ title }}</h1>

                <div class="product-image">
                    <img class="product-preview" v-bind:src="image" v-bind:alt="imageAlt">
                </div>

                <p class="price">£{{ currentPrice }} <span v-if="onSale" class="badge--sale">On Sale!</span></p>
                <p v-if="onSale" class="price--original">£{{ originalPrice }}</p>

                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Hurry, only {{ inventory }} left in stock!</p>
                <p v-else>Out of Stock</p>

                <div v-for="size in sizes">
                    <span>{{ size }}</span>
                </div>

                <p>{{ description }}</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <p>Available colours:</p>

                <div v-for="(variant, index) in variants"
                     :key="variant.variantId"
                     class="colour-box"
                     v-bind:style="{ backgroundColor: variant.variantColour }"
                     v-on:click="updateProduct(index)"
                >
                </div>

            </div>

            <button v-if="inStock" v-on:click="addToCart">Add to Cart</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>